body {
  margin: 0;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chart {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.info {
  font: 48px serif;
  fill: #332;
}

.hour {
  text-anchor: end;
}

.day {
  text-anchor: start;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart .bikes {
  fill: #037;
}

.docks {
    fill: none;
  /* stroke: #037; */
  /* stroke-width: 1px; */
  /* vector-effect: non-scaling-stroke; */
  /* fill: #3cf; */
}

.scrubber {
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
  opacity: 0.5;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tile .major_road { stroke: #776; }
.tile .minor_road { stroke: #ccb; }
.tile .highway { stroke: #332; stroke-width: 1.5px; }
.tile .rail { stroke: #332; }
